.sidebar-content {
    height: 100%;
}

.my-flex-with-gaps {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.my-survey-title {
    font-size: 100%;
    font-weight: normal;
    color: black;
}

body > nav {
    .navbar-brand,
    .navbar-nav a,
    .nav-item a {
        color: white !important;
    }
}